<html lang="en">
<body>
<div class="footer-basic">
	<footer>
		<div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="https://giphy.com/clips/discoverychannel-discovery-ellen-degeneres-endangered-ypdjtu1vc8CoSvLrcF">Home</a></li>
			<li class="list-inline-item"><a href="https://giphy.com/clips/discoverychannel-discovery-ellen-degeneres-endangered-ypdjtu1vc8CoSvLrcF">Services</a></li>
			<li class="list-inline-item"><a href="https://giphy.com/clips/discoverychannel-discovery-ellen-degeneres-endangered-ypdjtu1vc8CoSvLrcF">About</a></li>
			<li class="list-inline-item"><a href="https://giphy.com/clips/discoverychannel-discovery-ellen-degeneres-endangered-ypdjtu1vc8CoSvLrcF">Terms</a></li>
			<li class="list-inline-item"><a href="https://giphy.com/clips/discoverychannel-discovery-ellen-degeneres-endangered-ypdjtu1vc8CoSvLrcF">Privacy Policy</a></li>
		</ul>
	</footer>
</div>
</body>

</html>