<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		</div>
		<form class="form-inline" action="/searchInstruments" method="GET">
			<input class="form-control m-10-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Login</a></li>
				<li><a href="#">Stuff</a></li>
				<li><a href="#">More Stuff</a></li>
				<li><a href="#">Even More Stuff</a></li>
			</ul>
		</form>
	</div>
</nav>